/* В этом файле вы импортируете все шрифты для сайта. Один из них вариативный и требует особенной настройки */
@font-face {
  font-family: "Inter";
  src: local("Inter"),
  url("Inter-Variable.woff2") format("woff2 suppots variations"),
  url("Inter-Variable.woff2") format("woff2-variations");
  font-weight: 400 785;
  font-style: normal;
}

@font-face {
  font-family: "PressStart2P";
  src: local("PressStart2P-Regular"),
  url("PressStart2P-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}