/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/
:root.theme-light  {
  --page-main-font-weight: 400;
  --headings-font-weight: 700;
  --button-text-color: var(--color-white, #ffffff);
  --text-color: var(--color-black, #000000);
  --page-background-color: var(--color-white, #ffffff);
  --page-background-image: repeating-linear-gradient(to left, #d3d3d3 0 2px, #d3d3d300 2px 4px),
  repeating-linear-gradient(to bottom, #d3d3d3 0 2px, #d3d3d300 2px 4px),
  linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);
}

:root.theme-dark {
  --page-main-font-weight: 465;
  --headings-font-weight: 785;
  --button-text-color: var(--color-green, #00cc14);
  --text-color: var(--color-green, #00cc14);
  --page-background-color: var(--color-black, #000000);
  --page-background-image: repeating-linear-gradient(to left, #000000 0 2px, #00000000 2px 4px), 
  repeating-linear-gradient(to bottom, #000000 0 2px, #00000000 2px 4px),
  linear-gradient(to bottom, #007f0c, #004306);
}

@media (prefers-color-scheme: dark) {
  :root {
    --page-main-font-weight: 465;
    --headings-font-weight: 785;
    --button-text-color: var(--color-green, #00cc14);
    --text-color: var(--color-green, #00cc14);
    --page-background-color: var(--color-black, #000000);
    --page-background-image: repeating-linear-gradient(to left, #000000 0 2px, #00000000 2px 4px), 
    repeating-linear-gradient(to bottom, #000000 0 2px, #00000000 2px 4px),
    linear-gradient(to bottom, #007f0c, #004306);
  }
}
